<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /BoothPortal/

  # Do not apply rules to the api directory
  RewriteRule ^api/ - [L]

  # If the requested filename is not a directory, continue
  RewriteCond %{REQUEST_FILENAME} !-d
  # If the requested filename is not a file, continue
  RewriteCond %{REQUEST_FILENAME} !-f

  # For all other requests, send them to the React app's index.html
  RewriteRule . /BoothPortal/index.html [L]
</IfModule>